

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,body,#root{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}

.header {
  display:flex;
  width:100%;
  height:4.4rem;
  background-color: #5E72E4;
  align-items:center;
  justify-content: space-between;
  
}

.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-header{
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
  margin-right: .4rem;
}

.logoPic {
  height: 3.3rem;
}

.title {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;

}

.addButton-header {
  position:absolute;
  right:2rem;
}

.footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3rem;
  background-color: #5E72E4;
  display:flex;
  align-items:center;
  justify-content: space-between;
}


.search-bar{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


.trips{
  overflow: auto;
  height: 73vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .trips{justify-content: flex-start};
}

.trip-card{
  background-color: #d3d1d1;
  margin-top: .5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 9rem;
  width: 18rem;
  cursor: pointer;
  position: relative;
  border-radius: .5rem;
}

.trip-text-box{
  background-color: #11cdef;
  font-weight: bold;
  font-size: 0.7rem;
  padding:2px 5px;
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
  height: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.trip-text{
  margin-top: .3rem;
}

.trip-picture {
  width: 18rem;
  height: 9rem;
  object-fit: cover;
  border-radius: .5rem;
}

.signIn{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #172b4d;
}

.cardBody {
  background-color: #f4f5f7;
  border-radius: .3rem;
}

.city-country {
  font-size: 1.1rem;
  position: absolute;
  left: .75rem;
  top: .45rem;
  text-transform: capitalize;
}

.dates {
  font-size: .7rem;
  text-transform: capitalize;
  position: absolute;
  left: .75rem;
  top: 2.1rem;
}

h3 {
  position: absolute;
  left: .75rem;
  top: .45rem;
  width: 100%;
  text-transform: capitalize;
}

h4 {
  text-transform: capitalize;
  position: absolute;
  font-size: 16px;
  top: 3.2rem;
  left: .75rem;
}

.text-muted {
  font-size: 1.1rem;
}

.modal-header {
  height: 5.5rem;
}

.modal-body img {
  position: absolute;
  left: .75rem;
  top: .75rem;
  width: calc(100.3% - 1.5rem);
  height: 9rem;
  object-fit: cover;
  border-radius: .5rem;
  display: block;
}

.modal-body {
  height: 30rem;
}

.trip-text {
  margin-top: 9.5rem;
}

h5 {
  text-transform: capitalize;
}

.key {
  font-weight: bold;
}

.lowercase {
  text-transform: none;
}
