

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,body,#root{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}

.header {
  display:flex;
  width:100%;
  height:4.4rem;
  background-color: #5E72E4;
  align-items:center;
  justify-content: space-between;
  
}

.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-header{
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
  margin-right: .4rem;
}

.logoPic {
  height: 3.3rem;
}

.title {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;

}

.addButton-header {
  position:absolute;
  right:2rem;
}

.footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3rem;
  background-color: #5E72E4;
  display:flex;
  align-items:center;
  justify-content: space-between;
}


.search-bar{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}


.trips{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 33.4rem;
  overflow: auto;
}

.trip-card{
  background-color: #d3d1d1;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 8rem;
  width: 18rem;

  cursor: pointer;
  position: relative;
}

.trip-text-box{
  background-color: #11cdef;
  font-weight: bold;
  font-size: 0.7rem;
  padding:2px 5px;
  position:absolute;
  bottom:0px;
  left:0;
  right:0;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trip-text{
  margin-top: .3rem;
}

.signIn{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #172b4d;
}

.cardBody {
  background-color: #f4f5f7;
  border-radius: .3rem;
}
