.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,body,#root{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}

.header {
  display:flex;
  width:100%;
  height:4.4rem;
  background-color:#172b4d;
  align-items:center;
  justify-content: space-between;
}

.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-header{
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
  margin-right: .4rem;
}

.logoPic {
  height: 3.3rem;
}

.title {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  margin-left: 1rem;
}

.addButton-header {
  position:absolute;
  right:2rem;
}

.footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:3rem;
  background-color: #172b4d;
  display:flex;
  align-items:center;
  justify-content: space-between;
}


.search-bar{
  width: 98%;
  display: flex;
  margin: 5px;
  padding: 8px;
}

#search-button{
  margin-left: 4px;
  padding: .8rem .95rem;
}

.trips{
  overflow: auto;
  height: 73vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.makeTrip {
  text-transform: capitalize;
}

#card {
  width: 25rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: .5rem;
}

.title-case {
  text-transform: capitalize;
  text-align: left;
}

.signIn{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #172b4d;
}

.loginPopupLogo{
  display: flex;
  justify-content: center;

}

.email-login{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  z-index: 1;
}

.password-login{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.loginSignupButton{
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.googleButton{
  display: flex;
  padding-top: .7rem;
  padding-bottom: 1rem;
  justify-content: center;
}

.orGoogle{
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  font-size: .8rem;
}

.logout{
  margin-left: .4rem;
}

.cardBody {
  background-color: #f4f5f7;
  border-radius: .3rem;
}

.signup-button{
  margin-right: .5rem;
}

.city-country {
  font-size: 1.1rem;
  position: absolute;
  left: .75rem;
  top: .45rem;
  text-transform: capitalize;
}

.dates {
  font-size: .7rem;
  text-transform: capitalize;
  position: absolute;
  left: .75rem;
  top: 2.1rem;
}



.makeTrip{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 85vh;
  overflow: auto;
}

.saveButtonTrips{
  width: 100%;
  margin: 2rem;
  text-transform: capitalize;

}
.saveButtonTrip{
  font-size: 20rem;

}
.userTripInputs{
  margin-top: 1rem;
  background-color:#172b4d;
  color: white;
  width: 85%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  font-size: 1.1rem;
}

.destinationChosen{
  margin-top: .4rem;
  margin-left: 1rem;
  text-align: left;
  
}

.dateChosen{
  margin-top: .4rem;
  margin-left: 1rem;
  text-align: left;
}

.activitiesChosen{
  margin-top: .4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .4rem;
  text-align: left;
  flex-wrap: wrap;
}


/* destination search bar */
.searchDestination{
  display: flex;
  height: 3.5rem;
  width: 80%;
  justify-content: center;
  margin-top: 2rem;
}

.setDate{
  width: 100%;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.searchActivities{
  display: flex;
  margin-top: 2rem;
  height: 3.5rem;
  width: 80%;
  justify-content: center;
}

.lowercase {
  text-transform: none;
}

.activities {
  width: 100%;
}

.welcome-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130vh;
  z-index: -1;
  object-fit: cover;
}

.welcome-logo {
  height: 6rem;
  width: 7rem;
  margin-bottom: 2rem;
  margin-top: 24rem;
}

@media screen and (min-width: 800px) {
  .welcome-logo{margin-top:0rem;}
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -10%;
  transform: translate(-50%, -80%);
}

.button-container{
  padding-top: 5rem;
}

.MuiDialogTitle-root {
  padding: 2rem !important;
}

.cityCountryError{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: red;
}